@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');

body {
	background-color: #ff0004;
	font-family: 'Lato', cursive;
    padding: 0;
    margin: auto 0;
}

/* Nav bar */

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    background-color: #ffffff;
	margin-bottom: auto;
    

}

#navbar {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    padding: 20px 60px;
    
}

#logo {
	letter-spacing: 3px;
	font-size: 24px;
	color: #f00004;
    font-family: 'Montserrat', sans-serif;
}

#menu {
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
	list-style-type: none;
	letter-spacing: 3px;
	font-size: 18px;
	color: #ff0004;
	margin-bottom: 0;
	margin-left: auto;
    margin-right: 100px;
    margin-top: auto;
    margin-bottom: auto;
}

#menu li {
	margin-right: 50px;
    font-family: 'Montserrat', sans-serif;
    
}

#menu li:last-child {
	margin-right: 0;
    
}

#logo a {
	text-decoration: none;
	color: #ff0004;
    font-family: 'Montserrat', sans-serif;
}

#logo-forward-slash {
    color: #451813;
    letter-spacing: 3px;
	font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

#menu a {
	text-decoration: none;
	color: inherit;
}

#menu a:hover {
	border-bottom: 2px solid #ff0004;
}

.active {
	border-bottom: 2px solid #ff0004;
}

/* Homepage */

.homepage-first-section {
	height: 200px;
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-top: 80px;
    background-color: #ffffff;
}

.company-logo {
    width: 80%;
    height: 200px;
    display: flex;
    margin-left: 18%;
}

.homepage-second-section {
	display: flex;
	justify-content: space-around;
}

.flex-item {
	width: 50%;
	margin: 10px;
	border: 5px solid #ffffff;
	background-color: #ff0004;
	color: #ffffff;
	text-align: center;
}

.about {
	min-height: 250px;
	font-family: 'Montserrat', sans-serif;
}

/* Contact page */

.contact-flexbox-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.contact-box-1 {
	width: 48%;
	min-height: 350px;
	margin-top: 75px;
	border: 5px solid #ffffff;
}

.contact-box-2 {
	width: 48%;
	min-height: 85vh;
	border: 5px solid #ffffff;
	margin-top: 75px;
	text-align: center;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	
}